<section class="auth">
    <h1 class="auth__h1">Authontication Error</h1>
    <img class="auth__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Error.svg/497px-Error.svg.png" alt="error">
</section>