<header class="header">
    <nav class="header--nav">
        <h3 class="header--nav-title">Blog App</h3>
    </nav>
</header>
<main class="main">
    <section class="main--section">
        <form class="main--section-form">
            <label for="email">
                <input type="email" name="email" class="main--section-input" id="email" placeholder="Email" required>
            </label>
            <label for="password">
                <input type="password" name="password" class="main--section-input" id="password" placeholder="Password"
                    required>
            </label>
            <button class="main--section-login">Login</button>
            <h3 class="main--section-validateUser"></h3>
            <h3 class="main--section-h3">You don't have account yet<a href="/signup"
                    class="main--section-h3-a">Signup</a>
                now
            </h3>
        </form>
    </section>
</main>